doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title="BUTTON INC."
		meta(name="keywords", content="")
		meta(name="description", content="")
		meta(property="og:site_name", content="")
		meta(property="og:title", content="")
		meta(property="og:description", content="")
		meta(property="og:url", content="http://btn-inc.jp/")
		meta(property="og:image", content="")
		meta(property="og:type", content="")
		meta(property="og:locale", content="")
		meta(property="twitter:card", content="")
		meta(property="twitter:description", content="")
		meta(property="twitter:image:src", content="")
		meta(property="twitter:creator", content="@btn-inc")
		meta(property="twitter:site", content="http://btn-inc.jp/")
		meta(property="twitter:title", content="BUTTON INC.")
		meta(name="author", content="BUTTON INC.")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="../css/app.css" type="text/css")
		style.
			.mock {
				width: 280px;
				margin: auto;
				padding: 40px 20px;
			}
			h1 {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 40px;
			}
			li {
				margin-bottom: 30px;
			}
	body
		div.mock
			h1 BUTTON INC.
			ol
				li
					a(href="/#PatrolLamp", target="_blank") パトランプ
				li
					a(href="/#Elevator", target="_blank") エレベーター
				li
					a(href="/#Delivery", target="_blank") 配達
				li
					a(href="/#Escape", target="_blank") 避ける
				li
					a(href="/#Explosion", target="_blank") 爆発
				li
					a(href="/#Squash", target="_blank") つぶれる
				li
					a(href="/#Jump", target="_blank") ジャンプ
				li
					a(href="/#Ufo", target="_blank") UFO
				li
					a(href="/#Rocket", target="_blank") ロケット
				li
					a(href="/#Pudding", target="_blank") プリン
				li
					a(href="/#Ghost", target="_blank") おばけ
				li
					a(href="/#Fall", target="_blank") 落ちる
				li
					a(href="/#BalloonFailure", target="_blank") 風船割れる
				li
					a(href="/#BalloonAway", target="_blank") 風船飛んでく
				li
					a(href="/#Poo", target="_blank") うんち


