div.p-footer
	figure.p-footer__logo
		canvas(id="Button" width="175" height="80")
	ul.c-social-btns
		li.c-social-btns__fb
			a(href="https://www.facebook.com/Button-Inc-825923684175897/", target="blank") 
				img(src="/images/common/btn-sns-fb.png" width="27" height="27")
		li.c-social-btns__tw
			a(href="https://twitter.com/button_inc", target="blank")
				img(src="/images/common/btn-sns-tw.png" width="27" height="27")
		li.c-social-btns__ig
			a(href="https://www.instagram.com/button_inc/", target="blank")
				img(src="/images/common/btn-sns-ig.png" width="27" height="27")
	div.p-footer__copyright
		| © BUTTON INC. ALL RIGHTS RESERVED.
		