nav#GNav
	ul
		li
			a(href="/")
				img(src="/images/common/btn-gn-play.png" width="150")
		li
			a(href="/projects/")
				img(src="/images/common/btn-gn-projects.png" width="150")
		li
			a(href="/about/")
				img(src="/images/common/btn-gn-about.png" width="150")
		li
			a(href="/careers/")
				img(src="/images/common/btn-gn-careers.png" width="150")
		li
			a(href="/contact/")
				img(src="/images/common/btn-gn-contact.png" width="150")
