extends ../_include/_layout

block title
	title PRIVACY POLICY | BUTTON INC.
	
block meta
	meta(name='description', content='子どもとの新しいコミュニケーションをつくる会社')
	meta(name='keywords', content='BUTTON INC, button inc, 株式会社BUTTON, 株式会社ボタン')
	meta(name='viewport', content='width=device-width, maximum-scale=1')
	meta(property='og:title', content='PRIVACY POLICY | BUTTON INC.')
	meta(property='og:type', content='website')
	meta(property='og:url', content='http://btn-inc.jp/privacy/')
	meta(property='og:image', content='http://btn-inc.jp/images/og.png')
	meta(property='og:site_name', content='')
	meta(property='og:description', content='子どもとの新しいコミュニケーションをつくる会社')
	meta(property='og:locale', content='ja_JP')
	meta(property='fb:app_id', content='BUTTON INC.')
	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:site', content='@button_inc')
	meta(name='twitter:title', content='BUTTON INC.')
	meta(name='twitter:description', content='子どもとの新しいコミュニケーションをつくる会社')
	meta(name='twitter:image', content='http://btn-inc.jp/images/og.png')

block body
	body.p-page-privacy
		include ../_include/_gnav
		include ../_include/_humberger
					
		div#Main.c-container
		
			//SEC : トップブロック
			section.p-sec-privacy
				div.c-ttl
					h1.c-ttl__main
						img(src="/images/privacy/ttl-privacy-main.png" width="250")
					
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						基本方針
					p.c-lead__txt
						株式会社BUTTON（以下、「当社」）では、個人情報の保護を重要な責務であることを認識し、以下の基準に従い管理し保護に努めます。
						
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						個人情報の取得について
					p.c-lead__txt
						当社は、偽りその他不正の手段によらず適正に個人情報を取得致します。	
						
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						個人情報の利用について
					p.c-lead__txt
						ご入力いただいた個人情報は、皆様からのお問合せ内容にお答えする目的（当社からのご連絡や資料のご送付など）で取得し、その目的の範囲を超えて利用することはありません。
						
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						個人情報の第三者提供について
					p.c-lead__txt
						当社は、個人情報保護法等の法令に定めのある場合を除き、個人情報をあらかじめご本人の同意を得ることなく、第三者に提供致しません。	
						
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						個人情報の安全管理について
					p.c-lead__txt
						当社は、取り扱う個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。
				
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						任意性について
					p.c-lead__txt
						個人情報の提出は皆様の自由なご判断に任されます。ただし、ご回答するにあたり必要な情報（ご担当者様氏名、メールアドレス、電話番号、郵便番号、住所、お問い合わせ内容等）を正確に入力していただけない場合は、ご回答の手続きに支障が生じることがあります。
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						個人情報の開示・訂正等について
					p.c-lead__txt
						当社は、ご本人から自己の個人情報についての開示の請求がある場合、速やかに開示を致します。その際、ご本人であることが確認できない場合には、開示に応じません。個人情報の内容に誤りがあり、ご本人から訂正・追加・削除の請求がある場合、調査の上、速やかにこれらの請求に対応致します。その際、ご本人であることが確認できない場合には、これらの請求に応じません。
						
				div.p-sec-privacy__unit.c-lead
					h2.c-lead__ttl
						個人情報に関するお問い合わせ
					p.c-lead__txt
						個人情報の開示、訂正・追加・削除、利用の停止を希望される場合はこちらのお問い合わせフォームよりご連絡ください。<br><br>更新日：2014年1月15日
				
				
			include ../_include/_footer
				