doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title="BUTTON INC."
		meta(name="keywords", content="")
		meta(name="description", content="")
		meta(property="og:site_name", content="")
		meta(property="og:title", content="")
		meta(property="og:description", content="")
		meta(property="og:url", content="http://btn-inc.jp/")
		meta(property="og:image", content="")
		meta(property="og:type", content="")
		meta(property="og:locale", content="")
		meta(property="twitter:card", content="")
		meta(property="twitter:description", content="")
		meta(property="twitter:image:src", content="")
		meta(property="twitter:creator", content="@btn-inc")
		meta(property="twitter:site", content="http://btn-inc.jp/")
		meta(property="twitter:title", content="BUTTON INC.")
		meta(name="author", content="BUTTON INC.")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="../css/app.css" type="text/css")
		style.
			.mock {
				width: 280px;
				margin: auto;
				padding: 40px 20px;
			}
			h1 {
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 40px;
			}
			li {
				margin-bottom: 30px;
			}
	body
		div.mock
			h1 BUTTON INC.
			ol
				li
					a(href="01-point_check.html") 01-point_check
				li
					a(href="02-shape_tween.html") 02-shape_tween
				li
					a(href="03-cos_sin.html") 03-cos_sin
				li
					a(href="04-morphable_path.html") 04-morphable_path
				li
					a(href="05-fluidable_path.html") 05-fluidable_path
				li
					a(href="06-paper_position_check.html") 06-paper_position_check
				li
					a(href="07-audio_sprite.html") 07-audio_sprite
				li
					a(href="08-svg_morph.html") 08-svg_morph
				li
					a(href="09-custom_stroke.html") 09-custom_stroke
				